body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 2vh 0;
}
form{
    font-size: 1.5rem;
    font-weight: 600;
}
form .question-container{
    margin: 0.5rem 0;
}
form .question-container input{
    transform: scale(1.5);
    margin: 0 0.5rem;
}
#answer{
    background-color: #ff9800;
    color:  #000;
    font-size: 1.5rem;
    margin-top: 5vh;
    border: none;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}
h3{
    font-size: 1.5rem;
    margin-top: 3vh;
}